@font-face {
    font-family: "sbg";
    src: url("../sbg_font.ttf") format("truetype");
}

body {
    font-family: Georgia, serif;
}

/* ===== Scenario List ===== */

table.scenario-list a.scenario-detail-link {
    text-decoration: none;
}

table.scenario-list a.scenario-detail-link:hover {
    text-decoration: underline;
}

table.scenario-list td.faction {
    font-family: "sbg";
    font-weight: normal;
    font-style: normal;
    color: #333;
}

.sort-arrow {
    font-size: 40%;
    color: #999;
}

/* ===== Scenario Details ===== */

.scenario-details .scenario-title {
    font-weight: bold;
    font-size: 150%;
}

.scenario-details .scenario-blurb {
    font-style: italic;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}

.scenario-details .scenario-date .date-age {
    display: inline;
}

.scenario-details .scenario-date .date-year {
    display: inline;
}

.scenario-details .scenario-details-section-title {
    font-weight: bold;
    margin-top: 0.75em;
}

.scenario-details .scenario-factions .factions-container {
    width: 100%;
    overflow:auto;
}

.scenario-details .scenario-factions .faction {
    float: left;
}

.figure-line .figure-line-amount {
    display: inline;
    margin-right: 0.5em;
}

.figure-line .figure-line-name {
    display: inline;
}