@font-face {
    font-family: "sbg-resources";
    src: url("../sbg-resources.ttf") format("truetype");
}

body {
    font-family: Georgia, serif;
}

.errors {
    font-size: 9pt;
    color: red;
}

/* ===== Header ===== */

.page-header .title {
    text-align: center;
    font: 32pt bolder;
}

/* ===== Left-hand Nav ===== */

.nav {
    float: left;
}

.main-content {
    float: left;
}

ul.filter-group {
  list-style: none;
  padding-left: 0;
}

ul.filter-group li {
  border-radius: 3px;
  border: 1px gray solid;
  background-color: white;
  font-size: 12px;
  margin-bottom: 2px;
}

ul.filter-group li::before {
  font-family: sans-serif;
  content: "x";
  padding-left: 0.2em;
  padding-right: 0.2em;
  margin-right: 0.3em;
  background-color: gray;
  color: white;
}

/* ===== Star Ratings ===== */

div.rating {
  display: inline;
}

div.rating-star-container {
  display: inline;
}

div.rating-star-inner {
  /*margin-left: -16px;*/
  position: absolute;
  left: 0;
  top: -3px;
  color: #e7c344;
  overflow: hidden;
  text-shadow: none;
  transition:all .4s ease-out;
  cursor:pointer;
}

div.rating-star-inner:hover {
  color: #ff8400;
}

div.rating-star {
  display: inline;
  position: relative;
  text-shadow: 0 2px 2px #cecece;
  transition:all .4s ease-out;
}

div.rating-star:hover {
  color: #a4b;
  cursor: pointer;
}

div.rating-star-highlight {
  color: #a4b;
}

div.rating {
  margin: 0;
  padding: 0;
}

span.votes {
  padding-left: 3px;
  font-size: 66%;
}

/* ===== Scenario List ===== */

table.scenario-list a.scenario-detail-link {
    text-decoration: none;
}

table.scenario-list a.scenario-detail-link:hover {
    text-decoration: underline;
}

table.scenario-list td.faction {
}

table.scenario-list td.resources {
    font-family: "sbg-resources";
    font-weight: normal;
    font-style: normal;
    color: #333;
}

.sort-arrow {
    font-size: 40%;
    color: #999;
}

/* ===== Scenario Details ===== */

.scenario-details .scenario-title {
    font-weight: bold;
    font-size: 150%;
}

.scenario-details .scenario-blurb {
    font-style: italic;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}

.scenario-details .scenario-date .date-age {
    display: inline;
}

.scenario-details .scenario-date .date-year {
    display: inline;
}

.scenario-details .scenario-details-section-title {
    font-weight: bold;
    margin-top: 0.75em;
}

.scenario-details .scenario-factions .factions-container {
    width: 100%;
    overflow:auto;
}

.scenario-details .scenario-factions .faction {
    float: left;
}

.pie {
    display: inline;
    height: 24px;
    width: 24px;
}

.role-line .role-line-amount {
    display: inline;
    margin-right: 0.5em;
}

.role-line .role-line-name {
    display: inline;
}

.figure-line {
    padding-left: 24px;
    color: #999;
}

.figure-line .figure-line-amount {
    display: inline;
    margin-right: 0.5em;
}

.figure-line .figure-line-name {
    display: inline;
}