@rating-star-filled:      #d0b146;
@rating-star-user-choice: #9d70a5;
@light-gray:              #999;
@table-stripe-color:      #f5ecd6;
@tab-color:               #cca583;
@tab-color-selected:      #ad7b3a;

@header-color:            @tab-color-selected;
@text-color:              #666;
@link-color:              #000000;

@dialog-cancel-color:     #999;
@dialog-ok-color:         @tab-color;

@header-font-family:      Tahoma, Arial, Helvetica, sans-serif;
@body-font-family:        @header-font-family;

@font-face {
  font-family: "sbg-resources";
  src: url("/fonts/sbg-resources.eot");
  src: url("/fonts/sbg-resources.woff") format("woff"),
       url("/fonts/sbg-resources.ttf") format("truetype"),
       url("/fonts/sbg-resources.svg") format("svg");
}

body {
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  color: @text-color;
  display: block;
  font-family: @body-font-family;
  min-height: 100vh;
  position: absolute;
  width: 100%;
}

select {
  border: 1px solid @tab-color-selected;
}

.errors {
  font-size: 9pt;
  color: red;
}

a, a:visited {
  text-decoration: none;
  color: @link-color;
}

a:hover {
  text-decoration: underline;
}

button {
  background-color: @tab-color;
  border: none;
  border-radius: 12px;
  color: @link-color;
  font-size: 16px;
  padding: 6px 18px;

  &:hover {
    background-color: @tab-color-selected;
    cursor: pointer;
  }
}


.detail-page-title {
  font-weight: bold;
  font-size: 150%;
  color: @header-color;
}

.edit {
  color: black;
  cursor: pointer;
  font-family: "sbg-resources";
  padding-left: 0.5em;
}

input[type=email],
input[type=password],
input[type=text] {
  border: solid 1px black;
  font-family: @body-font-family;
  font-size: 16px;
  padding: 3px 5px;
}

.section-header {
  color: @header-color;
  font-weight: bold;
}

.text {
  margin-left: 2em;
  margin-right: 2em;
}

/* ===== Header ===== */

.page-header .title {
  font-size: 32pt;
  font-family: @header-font-family;
  font-weight: bold;
  text-align: center;
}

/* ===== Tabs ===== */

.nav {
  background-color: @tab-color;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
}

.nav-header {
  color: black;
  display: inline;
  padding-left: 1em;
  padding-right: 1em;
  transition: background-color 0.25s ease;

.icon {
  font-family: "sbg-resources";
  padding-right: 0.25em;
}

  a:visited, a:link {
    color: black;
    text-decoration: none;
  }
}

.nav-content-selected {
  background-color: @tab-color-selected;
  border-left: #333 1px solid;
  border-right: #333 1px solid;
  padding-top: 0.5em;
  padding-bottom: 0.5em;

  .icon, a, a:visited {
    color: white;
  }
}

div.filters {
  padding-bottom: 0.5em;

  span.label {
    cursor: pointer;
    font-size: 8pt;
  }

  .arrow {
    cursor: pointer;
    display: inline;
    font-size: 8px;
    padding-right: 0.5em;
  }
}

div.filter-group {
  display: inline-block;
  padding-left: 0.5em;
  vertical-align: top;
}

ul.active-filters {
  display: inline;
  list-style: none;
  padding-left: 0;

  li {
    border-radius: 3px;
    border: 1px @light-gray solid;
    background-color: white;
    font-size: 12px;
    margin-top: 2px;

    &:before {
      content: "x";
      padding-left: 0.2em;
      padding-right: 0.2em;
      margin-right: 0.3em;
      background-color: @light-gray;
      color: white;
    }
  }
}

/* ===== Rating Breakdowns ===== */

div.rating-breakdown {
  div.rating-bar-background {
    background:    #ccc;
    border-bottom: 1px solid: #ddd;
    border-left:   1px solid #999;
    border-right:  1px solid: #ddd;
    border-top:    1px solid #999;
    display:       inline-block;
    height:        18px;
    margin-bottom: 0.1em;
    margin-left:   0.5em;
    margin-right:  0.5em;
    margin-top:    0.1em;
    width:         100px;
  }

  div.rating-bar-foreground {
    background: @rating-star-filled;
    background: linear-gradient(#f0d176, #c0a136);
    display: inline-block;
    height: 18px;
    width:  100px;
  }

  span.label, span.value {
    font-size: 75%;
  }
}

/* ===== Star Ratings ===== */

div.rating {
  display: inline;
}

div.rating-star-container {
  display: inline;
  color: @link-color;
}

div.rating-star-inner {
  /*margin-left: -16px;*/
  position: absolute;
  left: 0;
  top: -2px;
  color: @rating-star-filled;
  overflow: hidden;
  text-shadow: none;
  transition:all .4s ease-out;
}

div.active div.star-rating-inner {
  cursor:pointer;

  &:hover {
    color: @rating-star-user-choice;
  }
}

div.rating-star {
  display: inline;
  position: relative;
  text-shadow: 0 2px 2px #cecece;
  transition:all .4s ease-out;
}

div.active div.rating-star:hover {
  color: @rating-star-user-choice;
  cursor: pointer;
}

div.rating-star-highlight {
  color: @rating-star-user-choice;
}

div.rating {
  margin: 0;
  padding: 0;
}

span.votes {
  padding-left: 3px;
  font-size: 66%;
}

/* ===== Figure List ===== */

.figure-list-main-content {
  tr.table-header {
    color: @text-color;
    font-size: 67%;
  }

  td.name {
    padding: 0;
    a {
      margin-left: 0.25em;
    }
  }

  td.section-header {
    margin-left: 0;
    padding: 0.75em 0 0 0;
  }

  td.needed, td.owned, td.painted {
    padding-left: 2em;
    text-align: right;
  }
}

/* ===== Figure Detail ===== */

.figure-factions {
  margin-top: 0.5em;
}

.figure-scenarios {
  margin-top: 0.5em;

  td.scenario-amount {
    color: @text-color;
    margin-left: 0.25em;
    text-align: right;
  }
}

.figure-history {
  margin-top: 0.5em;
}

.figure-inventory {
  margin-top: 0.5em;

  td.action {
    a {
      padding-left: 1em;
      font-family: "sbg-resources";
    }
  }
}

.figure-scenarios-total {
  margin-top: 0.5em;
}

.figure-inventory-overlay {
  animation: fade-in 0.25s;
  display: none;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.7;
  opacity: 0.7;
  filter: alpha(opacity=70);
}

.figure-inventory-popup {
  background-color: white;
  border: solid 1px black;
  border-radius: 10px;
  display: none;
  left: 33%;
  margin: 25% auto;
  max-width: 33%;
  opacity: 1.0;
    -moz-opacity: 1.0;
    filter: alpha(opacity=100);
  position: fixed;
  padding: 2em;
  top: 0%;
  z-index: 2002;

  .dialog-buttons {
    padding-top: .8em;

    button {
      border-style: solid;
      border-radius: 10px;
      padding: 0.8em;
    }

    .overlay-cancel {
      background-color: @dialog-cancel-color;
      border-color: @dialog-cancel-color;
      float: left;
    }

    .overlay-update {
      background-color: @dialog-ok-color;
      border-color: @dialog-ok-color;
      float: right;
    }
  }
}

.figure-inventory-popup-form {

  .errors {
    padding-bottom: 0.5em;
    padding-top: 0.5em;
  }

  .figure-inventory-popup-row {

    input {
      display: table-cell;
      margin-top: 0.5em;
      font-size: 16px;
    }

    textarea {
      margin-top: 0.5em;
      font-size: 16px;
    }

    .left {
      text-align: left;
    }

    .right {
      text-align: right;
    }
  }
}

/* ===== Forgot Password ===== */

.forgot-password {
  a.forgot-pw {
    font-size: 12px;
  }

  button {
    margin-top: 12px;
  }
}

/* ===== Register ===== */

.register {
  button {
    margin-top: 12px;
  }
}

/* ===== Scenario List ===== */

table.scenario-list {
  border-collapse: collapse;
}

table.scenario-list a.scenario-detail-link {
  text-decoration: none;
}

table.scenario-list a.scenario-detail-link:hover {
  text-decoration: underline;
}

table.scenario-list td.faction {
}

table.striped tr:nth-child(even) {
  background-color: @table-stripe-color;
}

table.scenario-list td.resources {
  font-family: "sbg-resources";
  font-weight: normal;
  font-style: normal;
  color: @light-gray;

  span {
    padding-right: 0.5em;
  }
}

.sort-arrow {
  font-size: 40%;
  color: @light-gray;
}

.completion {
/*  display: none; */
}

th {
  text-align: left;
}

th.factions {
  display: none;
}

th.rating {
  text-align: center;
}

td.date-year {
  padding-left: 0;
}

td.faction {
  display: none;
}

td.size {
  text-align: right;
}

th, td {
  padding-left: 5px;
  padding-right: 5px;
}

/* ===== Scenario Details ===== */

.scenario-details {
  .scenario-blurb {
    font-style: italic;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
  }

  .scenario-date {
    display: inline;

    .date-age, date-year {
      display: inline;
    }
  }

  .scenario-location {
    display: inline;
    padding-left: 1em;
  }

  .section-header {
    margin-top: 0.75em;
  }

  .scenario-factions {
    .factions-container {
      width: 100%;
      overflow:auto;

      .faction {
        float: left;
        padding-right: 1em;

        .faction-name {
          font-weight: bold;
        }
      }
    }
  }

  .scenario-resources {
    ul.resource-list {
      margin-top: 0;
    }

    .icon {
      font-family: "sbg-resources";
      padding-right: 0.25em;
      color: @light-gray;
    }
  }
}

.pie {
  display: inline;
  height: 24px;
  width: 24px;
}

.role-line {
  .role-line-amount {
    display: inline;
    margin-right: 0.5em;
  }

  .role-line-name {
    display: inline;
  }

  svg {
    display: inline;
  }

  .figures-dropdown {
    display: none;

    .figure-line {
      padding-left: 24px;
      color: @light-gray;

      .figure-line-amount {
        display: inline;
        margin-right: 0.5em;
      }

      .figure-line-name {
        display: inline;
      }
    }
  }
}


/* ===== Responsive Tweaks ===== */

.desktop {
}

.mobile {
  display: none;
}

@media (max-width: 767px) {
  body {
    font-size: 75%;
    margin-left: 4px;
    margin-right: 4px;
  }

  .page-header .title {
    font-size: 20px;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: inherit;
  }
}

/* ===== Animations ===== */

@keyframes fade-in {
  from { opacity: 0 }
  to { opacity: 0.7; }
}

/* ===== Rome Calendar ===== */

.rd-container-attachment {
  display: none;
  border: black solid 1px;
  -moz-opacity: 1.0;
  opacity: 1.0;
  filter: alpha(opacity=100);
  background-color: white;
  position: absolute;
  z-index: 3000;
}

.rd-days {
  border-collapse: collapse;
}

.rd-date {
  font-family: monospace;
}

.rd-back:before {
  display: block;
  content: '\2190';
}
.rd-next:before {
  display: block;
  content: '\2192';
}

.rd-next {
  float: right;
}

.rd-month-label {
  text-align: center;
}

.rd-days-body {
  text-align: right;
}

.rd-day-next-month, .rd-day-prev-month {
  color: #ccc;
}

.rd-day-body {
  border: solid 1px #ccc;
  border-collapse: collapse;
}

.rd-day-selected {
  background-color: #ffeecc;
}
